<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/carousel.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/bbd12f3d4b.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="demo" class="carousel slide" data-ride="carousel" th:fragment="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                    src="https://shop-t1.gg/_dj/img/1695018674851_pc.jpg"
                    alt="Los Angeles"
                    width="1100"
                    height="500"
            />
        </div>
        <div class="carousel-item">
            <img
                    src="https://shop-t1.gg/_dj/img/23_Worlds_pc.jpg"
                    alt="Chicago"
                    width="1100"
                    height="500"
            />
        </div>
        <div class="carousel-item">
            <img
                    src="https://shop-t1.gg/_dj/img/deca_pc.jpg"
                    alt="New York"
                    width="1100"
                    height="500"
            />
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
</body>
</html>