*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #000000;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #ffffff;
}